# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/go-libs
/cmd/go-libs/go-libs

# use this for tools
.bin/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# System files
.DS_Store

# Env files
.env

# Docs & Logs
apidoc*
.history
.idea
